include ../section-heading/section-heading
include ../carousel/carousel
include ../ambassadors-card/ambassadors-card
include ../icon/icon

mixin ambassadors()
  -
    const props = initComponent('ambassadors', attributes, ['cards']);

    const cards = [
      { img: 'assets/img/users/user-01.png', name: 'Екатерина Иванова', post: 'Системный аналитик в Сбере' },
      { img: 'assets/img/users/user-02.png', name: 'Иван Петров', post: 'Программист в Т-Банке' },
      { img: 'assets/img/users/user-03.png', name: 'Петя Иванов', post: 'Системный администратор' },
      { img: 'assets/img/users/user-04.png', name: 'Петя Иванов', post: 'Системный администратор' },
      { img: 'assets/img/users/user-05.png', name: 'Петя Иванов', post: 'Системный администратор' },
      { img: 'assets/img/users/user-01.png', name: 'Екатерина Иванова', post: 'Системный аналитик в Сбере' },
      { img: 'assets/img/users/user-02.png', name: 'Иван Петров', post: 'Программист в Т-Банке' },
      { img: 'assets/img/users/user-03.png', name: 'Петя Иванов', post: 'Системный администратор' },
      { img: 'assets/img/users/user-04.png', name: 'Петя Иванов', post: 'Системный администратор' },
      { img: 'assets/img/users/user-05.png', name: 'Петя Иванов', post: 'Системный администратор' },
    ]

    props.cards = props.cards || cards;

  .ambassadors&attributes(attributes)
    .content-container 
      +section-heading(mod="" title!="Наши амбассадоры").ambassadors__heading
    .ambassadors__carousel.ambassadors__carousel--wheel.wheel-carousel
      .ambassadors__carousel-wrapper.wheel-carousel-wrapper
        - if(Array.isArray(props.cards))
          each card in props.cards
            +ambassadors-card(class=card.class img=card.img name!=card.name post!=card.post transform=card.transform).wheel-carousel-slide
        svg(viewBox="0 0 300 300" fill="none").ambassadors__path.wheel-carousel-path
          path(d="M300,150 C300,232.84271 232.84271,300 150,300 67.15729,300 0,232.84271 0,150 0,67.15729 67.15729,0 150,0 232.84271,0 300,67.15729 300,150 z" stroke="0")
          circle(cx="150" cy="150" r="150" stroke="0").wheel-carousel-path__path
      .ambassadors__carousel-ui.wheel-carousel-ui
        button.ambassadors__carousel-nav.wheel-carousel-prev
          +icon("arrow-left")
        .ambassadors__carousel-counter
          span.ambassadors__carousel-counter-current.wheel-carousel-counter-current
          span.ambassadors__carousel-counter-total.wheel-carousel-counter-total
        button.ambassadors__carousel-nav.wheel-carousel-next
          +icon("arrow-right")
    +carousel(mod="tools" data-navigation navigation counter data-container).ambassadors__carousel.ambassadors__carousel--ghorizontal
      - if(Array.isArray(props.cards))
        each card in props.cards
          +ambassadors-card(class=card.class img=card.img name!=card.name post!=card.post transform=card.transform).swiper-slide
